@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  #wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

header {
  background: rgb(141, 151, 225);
  color: #FFF;
  padding: 20px;
}
.main-menu {
  background: rgb(67, 95, 172);
}

.main-menu ul li {
  text-align: center;
}

.main-menu ul li a {
  color: #FFF;
  display: block;
  justify-content: center;
  padding: 10px 20px;
}
  .main-menu ul li a:hover {
    background: #222;
  }

section {
  background: #EEE;
  flex: 3;
  padding: 20px;
}
article {
  background: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  background: #DDD;
  flex: 1;
}
.sub-menu {
    background: rgb(72, 135, 168);
}

.sub-menu ul li {
  text-align: center;
}

.sub-menu ul li a {
    color: #FFF;
    display: block;
    padding: 10px 20px;
  }
  .sub-menu ul li a:hover {
    background: #666;
  }
footer {
    background: rgb(144, 216, 234);
    color: #FFF;
    padding: 20px;
    text-align: center;
}

@media all and (min-width: 600px) {

  .main-menu ul {
    display: flex;
  }

  .main-menu ul li {
    text-align: left;
  }

  main {
    display: flex;
  }

  .sub-menu ul li {
    text-align: left;
  }

}

@media all and (min-width: 1025px) {

  #wrap {
    width: 84%;
    max-width: 1280px;
  }

}